<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">{{ title }}</button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  </span>
  <span>
    <button mat-button *ngIf="afAuth.user | async as user; else showLogin" (click)="logout()">Logout</button>
    <ng-template #showLogin>
      <button mat-button (click)="login()">Login</button>
    </ng-template>
  </span>
  <button mat-button routerLink="/calculator"><mat-icon>dialpad</mat-icon></button>
</mat-toolbar>
<router-outlet></router-outlet>
